<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75" >
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    </style>
    <title>coin mock invester</title>
    <link rel="stylesheet" th:href="@{/CSS/MainHomePage.css}">
    <link rel="stylesheet" th:href="@{/CSS/chart_test.css}">
    <script th:inline="javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script th:inline="javascript" th:src="@{/JS/chart_test.js}"></script>
    <script th:inline="javascript" th:src="@{/JS/coin_list.js}"></script>
</head>
<body>

<header class="menuheader">
    <h1>coin mock invester</h1>
    <nav class="coinmenu">
        <a href="/MainHomePage" class="coinmenudetail">거래소</a>
        <a href="/Investment" class="coinmenudetail">투자내역</a>
    </nav>
    <ul class="mymenu">
        <li><a href="/" class="menudetail">MY</a></li>
        <li><a href="/Logout" class="menudetail">LOGOUT</a></li>
    </ul>
</header>


<div class="allmenu">

    <div class="showA">
        <article class="charts">
            <div class="coinname">
                <div>
                    <div class="tradePrice">
                        <div class="cd">비트코인(BTC/KRW)</div>
                        <div class="tp" id="tp"></div>
                        <div class="scr">전일대비 <span id="scr">dd</span>   <span id="srp">dd</span> </div>
                    </div>
                    <div class="coininfo">
                        <dl>
                            <dt >고가</dt>
                            <dd id="hp" style="color: red">
                            </dd>
                        </dl>
                        <dl>
                            <dt>거래량(24H)</dt>
                            <dd id="atv24h">
                            </dd>
                        </dl>
                        <dl>
                            <dt>저가</dt>
                            <dd id="lp" style="color: blue">
                            </dd>
                        </dl>
                        <dl>
                            <dt>거래대금(24H)</dt>
                            <dd id="atp24h">
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div id="jb-content">
                <div id="chart1"></div>
                <div id="chart2"></div>
            </div>
        </article>

        <div class="transaction">

            <div class="coinState">
                <div class="coinStateThead">
                    <table >
                        <thead>
                        <tr>
                            <th>체결 시간</th>
                            <th>체결 가격(KRW)</th>
                            <th>체결량(BTC)</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="coinStateTbody" id="coinState">
                    <table id="tradeTable">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="sellAndBuy">
                <input type="radio" id="buy" name="transactionMenu" checked/>
                <input type="radio" id="sell" name="transactionMenu"/>
                <div class="tab">
                    <label for="buy">매도</label>
                    <label for="sell">매수</label>
                </div>
                <div class="content">
                    <div class="content-dis">
                        <dl>
                            <dt>
                                <strong>주문 구분</strong>
                            </dt>
                            <dt>

                            </dt>

                        </dl>
                    </div>
                    <div class="content-dis">
                        매수
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="showB">

        <div class="myInfo">
            <div class="myName" th:text="${userName} + '님 ' + ${useremail}"><br><div ></div></div>

            <div class="myMoney" th:text="${userseed}"></div>

        </div>
        <div class="coinlist">
            <table class="coinlistTable">
                <thead>
                <tr>
                    <th>종목</th>
                    <th>현재가</th>
                    <th>전일대비</th>
                    <th>전일대비 값</th>
                    <th>거래대금</th>
                </tr>
                </thead>
                <tbody id="output">
                <tr id="KRW-BTC">
                    <td>비트코인<br><span>BTC/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td class="sign"></td>
                    <td></td>
                </tr>
                <tr id="KRW-ETH">
                    <td>이더리움<br><span>ETH/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td class="sign"></td>
                    <td></td>
                </tr>
                <tr id="KRW-XRP">
                    <td>리플<br><span>XRP/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-SOL">
                    <td>솔라나<br><span>SOL/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-DOGE">
                    <td>도지코인<br><span>DOGE/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-WEMIX">
                    <td>위믹스<br><span>WEMIX/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-REP">
                    <td>어거<br><span>REP/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-STRK">
                    <td>스트라이크<br><span>STRK/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-SAND">
                    <td>샌드박스<br><span>SAND/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-RFR">
                    <td>리퍼리움<br><span>RFR/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-WAVES">
                    <td>웨이브<br><span>WAVES/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-TRX">
                    <td>트론<br><span>TRX/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-STX">
                    <td>스택스<br><span>STX/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-META">
                    <td>메타디움<br><span>META/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="KRW-ADA">
                    <td>에이다<br><span>ADA/KRW</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="showC">

    <input type="radio" id="tab1" name="checkTransaction" checked/>
    <input type="radio" id="tab2" name="checkTransaction"/>
    <div class="tab">
        <label for="tab1">미체결 주문</label>
        <label for="tab2">체결 주문</label>
    </div>
    <div class="content">
        <div class="content-dis">
            <table>
                <thead>
                <th>자산</th>
                <th>구분</th>
                <th>주문 수량</th>
                <th>미체결 수량</th>
                <th>주문 가격</th>
                <th>상태</th>
                </thead>
                <tbody>
                <td>거래 내역이 없습니다.</td>
                </tbody>
            </table>
        </div>
        <div class="content-dis">
            <table>
                <thead>
                <th>자산</th>
                <th>구분</th>
                <th>체결 일시</th>
                <th>주문 수량</th>
                <th>체결 수량</th>
                <th>주문 가격</th>
                <th>체결 가격</th>
                <th>체결 금액</th>
                </thead>
                <tbody>
                <td>거래 내역이 없습니다.</td>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>