<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coin Mock Invester</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    </style>
    <link rel="stylesheet" th:href="@{/CSS/SignUpForm.css}">
    <script th:inline="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>
<div class="name">
    <a href="/">Coin Mock Invester</a>
</div>

<div class="mainSignUp">

    <form action="/SignUpView" method="post" target="_blank" onsubmit="return doAction()">

        <div class="joinRaw">
            <h3 class="join_Title">
                <label for="userEmail">이메일</label>
            </h3>
            <span>
                <input type="email" id="userEmail" name="userEmail" class="signUpForm">
                <input type="button" value="이메일 확인" class="checkbtn" onclick="emailTest()">
            </span>
            <div id="duplicate"></div>
        </div>

        <div class="joinRaw">
            <h3 class="join_Title">
                <label for="UserPassWord">비밀번호</label>
            </h3>
            <span>
                <input type="password" id="userPassword" name="userPassword" class="signUpForm">
            </span>
            <h3 class="join_Title">
                <label for="CheckUserPassword">비밀번호 확인</label>
            </h3>
            <span>
                <input type="password" id="CheckUserPassword" name="UserPassWord2" class="signUpForm">
                <input type="button" value="비밀번호 확인" class="checkbtn" onclick="passwordTest()">
            </span>
            <div id="printPass"></div>
        </div>

        <div class="joinGroup">

            <div class="joinRaw">
                <h3 class="join_Title">
                    <label for="UserName">이름</label>
                </h3>
                <span>
                    <input type="text" id="userName" name="userName" class="signUpForm">
                </span>
            </div>

            <div class="birthday">
                <h3 class="join_Title">
                    <label for="yy">생년월일</label>
                </h3>
                <div class="bir_box">
                    <div class="bir_year">
                        <input type="number" id="yy" placeholder="년(4자)" name="userBirYear" class="bir_input">
                    </div>
                    <div class="bir_month">
                        <select id="mm" class="bir_input" name="userBirMonth">
                            <option value >월</option>
                            <option value="01">1월</option>
                            <option value="02">2월</option>
                            <option value="03">3월</option>
                            <option value="04">4월</option>
                            <option value="05">5월</option>
                            <option value="06">6월</option>
                            <option value="07">7월</option>
                            <option value="08">8월</option>
                            <option value="09">9월</option>
                            <option value="10">10월</option>
                            <option value="11">11월</option>
                            <option value="12">12월</option>
                        </select>
                    </div>
                    <div class="bir_day">
                        <label for="dd"></label>
                        <input type="number" id="dd" placeholder="일" name="userBirDay" class="bir_input">
                    </div>
                </div>
            </div>

            <div class="joinRaw">
                <h3 class="join_Title">
                    <label for="UserGender">성별</label>
                </h3>
                <div >
                    <select type="text" id="userGender" name="userGender" class="gender_input">
                        <option value selected>성별</option>
                        <option value="Male">남자</option>
                        <option value="Female">여자</option>
                        <option value="None">선택 안함</option>
                    </select>
                </div>
            </div>
        </div>
        
        <input type="submit" value="회원가입 하기" class="signupbtn">

    </form>


</div>
<script th:inline="javascript" th:src="@{/JS/sign_up.js}"></script>
</body>
</html>