<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.mapper.SelectMapper">

    <select id="getWalletList" resultType="WalletDTO">
        SELECT * FROM wallet
        WHERE num = #{num};
    </select>

    <select id="getAssetList" resultType="AssetDTO">
        SELECT * FROM asset
        WHERE num = #{num};
    </select>

    <select id="validSeed" resultType="int">
        SELECT userSeed FROM asset
        WHERE num = #{num};
    </select>

</mapper>