<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.mapper.SignUpMapper">
    <insert id="insertMember" parameterType="UserDTO">
        INSERT INTO COINUSER (
        userEmail,
        userPassword,
        userName,
        userBirth,
        userGender,
        userSignUpDate,
        userTotalSeed )
        VALUES (
        #{UserEmail},
        #{UserPassword},
        #{UserName},
        CONCAT(#{UserBirYear},'-',#{UserBirMonth},'-',#{UserBirDay}),
        #{UserGender},
        CURDATE(),
        0
        );
    </insert>
</mapper>