<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.mapper.WalletMapper">
    <!-- 지갑 생성 -->
    <insert id="createWallet" parameterType="WalletDTO" >
        <selectKey keyProperty="num" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO wallet (
        num,
        coinCode,
        coinCount,
        averageBuyPrice,
        buyPrice,
        resultPrice,
        resultPL,
        profitRate)
        VALUES (
        #{num},
        #{coinCode},
        #{coinCount},
        #{averageBuyPrice},
        #{buyPrice},
        #{resultPrice},
        #{resultPL},
        #{profitRate}
        );
    </insert>

    <!-- 자산 목록 생성 -->
    <insert id="createAsset" parameterType="AssetDTO">
        <selectKey keyProperty="num" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO asset (
        num,
        userSeed,
        userTotalSeed,
        totalBuyPrice,
        totalValuePrice,
        totalValuePL,
        totalValueRate
        )
        VALUES (
        #{num},
        #{userSeed},
        #{userTotalSeed},
        #{totalBuyPrice},
        #{totalValuePrice},
        #{totalValuePL},
        #{totalValueRate}
        );
    </insert>

    <!--자산 테이블 초기화-->
    <delete id="clearAsset">
        DELETE FROM ASSET
        WHERE num = #{num}
    </delete>

    <!--지갑 테이블 초기화-->
    <delete id="clearWallet">
        DELETE FROM WALLET
        WHERE num = #{num}
    </delete>

    <!-- 자산 초기화 후 재생성하기 -->
    <insert id="recreateAsset" parameterType="AssetDTO">
        INSERT INTO asset (
        num,
        userSeed,
        userTotalSeed,
        totalBuyPrice,
        totalValuePrice,
        totalValuePL,
        totalValueRate
        )
        VALUES (
        #{num},
        #{userSeed},
        #{userTotalSeed},
        #{totalBuyPrice},
        #{totalValuePrice},
        #{totalValuePL},
        #{totalValueRate}
        );
    </insert>

    <!-- 지갑 초기화 후 재생성하기 -->
    <insert id="recreateWallet" parameterType="AssetDTO">
        INSERT INTO wallet (
        num,
        coinCode,
        coinCount,
        averageBuyPrice,
        buyPrice,
        resultPrice,
        resultPL,
        profitRate)
        VALUES (
        #{num},
        #{coinCode},
        #{coinCount},
        #{averageBuyPrice},
        #{buyPrice},
        #{resultPrice},
        #{resultPL},
        #{profitRate}
        );
    </insert>

</mapper>